<div class="pd-wrapper">
	<div class="pd-photos">
		<div class="pd-photos-content">
			<img src="{{product.photo}}" alt="">
		</div>
	</div>

	<div class="pd-details">
		<div class="form">
			<div class="form__header">
				<h1>
					{{product.name}}
					<span>In {{product.category}}</span>
				</h1>
				<a href="#"> <img src="./assets/heart.svg" alt=""> </a>
			</div>
			<h1 class="form__price">AED {{product.price}}</h1>

			<div class="form__description">
				<h3>Description</h3>
				<p>{{product.description}}</p>

				<ul>
					<li>Model Stats : Chest 99 cm, </li>
					<li>Waist 81 cm, </li>
					<li>Hips 94 cm, </li>
					<li>Height 183 cm </li>
					<li>Style : Casual </li>
					<li>Material : 36% </li>
				</ul>
			</div>

			<button (click)="addProduct(product, $event)" class="form__add-to-bag ss-btn">
				Add To Bag
			</button>

		</div>
		<div class="continue-shopping" (click)="closeDetails()">
			<p>Continue Shopping</p>
		</div>
	</div>

</div>