<div class="pd-wrapper">
	<div class="pd-photos">
		<div class="pd-photos-content">
			<img src="./assets/model.jpg" alt="">
		</div>
	</div>

	<div class="pd-details">
		<div class="form">
			<div class="form__header">
				<h1>
					Fashion Sweater
					<span>In MEN</span>
				</h1>
				<a href="#"> <img src="./assets/heart.svg" alt=""> </a>
			</div>
			<h1 class="form__price">AED 45</h1>

			<div class="form__description">
				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et odit expedita commodi soluta, obcaecati deserunt veniam excepturi.
					Quibusdam perspiciatis illum deleniti, animi earum magnam asperiores tenetur expedita voluptate ullam minus?
					</p>

				<ul>
					<li>Model Stats : Chest 99 cm, </li>
					<li>Waist 81 cm, </li>
					<li>Hips 94 cm, </li>
					<li>Height 183 cm </li>
					<li>Style : Casual </li>
					<li>Material : 36% </li>
				</ul>
			</div>

			<button class="form__add-to-bag ss-btn">
				<!--<img class="ss-btn-icon" src="./assets/shopping-bag-white.svg" alt="">-->
				Add To Bag
			</button>

		</div>
		<div class="continue-shopping">
			<p>Continue Shopping</p>
		</div>
	</div>

</div>