@import '../variables';

.page{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.main-nav{
    min-height: 0;
    flex-shrink: 0;
    background-color: #FFF;
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 3px rgba(#000, 0.2);
    .wrapper{
        height: $main-nav-height;
        display: flex;
        align-items: center;
    }
    .logo{
        cursor: pointer;
        flex-grow: 1;
        font-weight: normal;
    }
    .auth{
        position: relative;
        a{
            font-size: 12px;
            color: #95989A;
            display: inline-block;
            margin-right: 15px;
            font-weight: lighter;
            text-decoration: none;
        }
        .dropdown-menu{
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            min-width: 100%;
            top: 100%;
            left: 50%;
            transition: all 0.2s;
            transform: translateX(-50%);
            background-color: #FFF;
            box-shadow: 0 3px 2px rgba(#000, 0.25);
            a{
                padding: 20px 30px;
                font-size: 12px;
                white-space: nowrap;
                margin: 0;
                i{
                    display: inline-block;
                    margin-right: 5px;
                }
                &:hover{
                    // background-color: rgba($color-primary, 0.05);
                    color: $color-secondary;
                }
            }
        }
    }
    .checkout{
        display: flex;
        align-items: center;
        align-self: stretch;
        font-size: 20px;
        border: none;
        padding: 0 15px;
        margin-right: -15px;
        cursor: pointer;
        font-weight: normal;
        background-color: transparent;
        font-family: $primary-font-family;
        &:hover{
            background-color: rgba($color-primary, 0.05);
        }
        .icon{
            position: relative;
            margin-left: 10px;
            img{
                height: 33px;
                width: auto;
            }
            .badge{
                position: absolute;
                border-radius: 20px;
                bottom: 0;
                right: 0;
                font-size: 10px;
                color: #FFF;
                padding: 3px 7px;
                background-color: $color-primary;
            }
        }
    }

    @media screen and (max-width: $break-sm) {
        padding: 0 10px;
        .auth a{
            margin-right: 10px;
        }
    }
    @media screen and (max-width: $break-xs) {
        .logo{
            font-size: 12px;
        }
    }
}
.main-content{
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}