@import '../../../variables';

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    margin-top: 30px;
    background-color: #fff;
    a{
        color: rgba($color-primary, 0.5);
        display: inline-block;
        margin: 0 15px;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        &.active, &:hover{
            color: $color-primary;
            &:after{
                content: '';
                position: absolute;
                width: 80%;
                height: 3px;
                background-color: $color-primary;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
    }
}

.products-wrapper{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    .product-item{
        // max-width: calc(45% - 20px);
        width: 270px;
        margin-bottom: 15px;
        background-color: #fff;                
        .img-wrapper{
            text-align: center;
            display: block;
            cursor: pointer;
            height: 325px;
            background-color: #F7F7F7;
            overflow: hidden;
            img{
                max-height: 100%;
                max-width: 100%;
            }
        }
        h1{
            cursor: pointer;
            font-size: 20px;
            color: $color-primary;
            font-weight: normal;
            &:hover{
                text-decoration: underline;
            }            
        }
        .product-details{
            padding: 0 20px;
        }
        .footer{
            display: flex;
            border-top: 1px solid #CCC;
            .price{
                flex-grow: 1;
                color: $color-secondary;
            }
            button{
                font-size: 12px;
                background-color: $color-secondary;
                color: #FFF;
                font-weight: 200;
                border: none;
                padding: 7px 10px;
                align-self: center;
                cursor: pointer;
                &:active{
                    background-color: $color-secondary - 20;
                }
                &:hover{
                    background-color: $color-secondary + 20;
                }
            }
        }
        
    }

    .product-item-fix{
        display: block;
        overflow: hidden;
        height: 0px;
        width: 270px;
    }


    @media screen and (max-width: $break-sm) {
        padding: 5px;
        .product-item{
            width: 100%;
            .img-wrapper{
                // height: 250px;
            }
            h1{
                font-size: 14px;
            }
        }
    }
}