// Font variables
$primary-font-family: 'Oswald', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;
 
// Color variables
$color-primary: #4D4D4D;
$color-secondary: #DC3522;

// Navigation menu
$main-nav-height: 80px;
