@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Oswald:300,400,700');
@import 'variables';


body{
    margin: 0;
    background-color: #EFEFEF;
    color: $color-primary;
    font-family: $primary-font-family;
}

button{
    font-family: $primary-font-family;
}

.wrapper{
    width: 1150px;
    margin: 0 auto;
}


.ss-btn{
    border: none;
    font-family: $primary-font-family;
    font-size: 20px;
    display: block;
    text-align: center;
    color: #FFF;
    background-color: $color-secondary;
    font-weight: lighter;
    width: 100%;
    padding: 10px;
    .ss-btn-icon{
        height: 20px;
        width: auto;
        display: inline-block;
        margin-right: 15px;
    }
    &.primary{
        background-color: $color-primary;
    }
}